[versions]
accompanist-flowlayout = "latest.release"
accompanist-permissions = "latest.release"
androidx-activity-compose = "latest.release"
androidx-constraintlayout = "latest.release"
androidx-appcompat = "latest.release"
androidx-core = "latest.release"
compose-material3-datetime-pickers = "latest.release"
firebase-analytics = "latest.release"
firebase-config = "latest.release"
firebase-crashlytics = "latest.release"
firebase-crashlytics-gradle = "latest.release"
androidx-glance = "latest.release"
androidx-compose = "latest.release"
firebase-database = "latest.release"
json = "latest.release"
jsoup = "latest.release"
junit-jupiter = "latest.release"
kotlin = "latest.release"
kotlinx-coroutines = "latest.release"
kotlinx-serialization-json = "1.5.1"
androidx-legacy-support-v4 = "latest.release"
material = "latest.release"
material3 = "latest.release"
androidx-navigation = "latest.release"
androidx-work = "latest.release"
android-gradle-plugin = "8.2.0-alpha15"
gms-google-services = "latest.release"
koin = "latest.release"
koin-androidx-compose = "latest.release"
koin-annotations = "latest.release"
ksp = "latest.release"
compose-destinations = "latest.release"
androidx-lifecycle = "latest.release"
datastore = "1.0.0"
semver = "latest.release"
compose-compiler = "1.5.0-dev-k1.9.0-6a60475e07f"

[libraries]
# Androidx
androidx-core-ktx = { group = "androidx.core", name = "core-ktx", version.ref = "androidx-core" }
# Kotlin
json = { module = "org.json:json", version.ref = "json" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit-jupiter" }
kotlin-stdlib = { group = "org.jetbrains.kotlin", name = "kotlin-stdlib", version.ref = "kotlin" }
# Kotlinx Coroutines
kotlinx-coroutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "kotlinx-coroutines" }
kotlinx-coroutines-android = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "kotlinx-coroutines" }
# Kotlinx Serialization
kotlinx-serialization-json = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version.ref = "kotlinx-serialization-json" }
# Androidx Navigation
#androidx-navigation-ui-ktx = { group = "androidx.navigation", name = "navigation-ui-ktx", version.ref = "androidx-navigation" }
#   Compose
androidx-navigation-compose = { group = "androidx.navigation", name = "navigation-compose", version.ref = "androidx-navigation" }
# Androidx Jetpack Compose
androidx-compose-ui = { group = "androidx.compose.ui", name = "ui", version.ref = "androidx-compose" }
androidx-compose-ui-tooling = { group = "androidx.compose.ui", name = "ui-tooling", version.ref = "androidx-compose" }
androidx-compose-ui-tooling-preview = { group = "androidx.compose.ui", name = "ui-tooling-preview", version.ref = "androidx-compose" }
androidx-compose-foundation-layout = { group = "androidx.compose.foundation", name = "foundation-layout", version.ref = "androidx-compose" }
#   Lifecycle
androidx-lifecycle-runtime-compose = { group = "androidx.lifecycle", name = "lifecycle-runtime-compose", version.ref = "androidx-lifecycle" }
androidx-lifecycle-viewmodel-compose = { group = "androidx.lifecycle", name = "lifecycle-viewmodel-compose", version.ref = "androidx-lifecycle" }
#   Activity
androidx-activity-compose = { group = "androidx.activity", name = "activity-compose", version.ref = "androidx-activity-compose" }
#   Material
androidx-compose-material3 = { group = "androidx.compose.material3", name = "material3", version.ref = "material3" }
androidx-compose-material-icons-extended = { group = "androidx.compose.material", name = "material-icons-extended", version.ref = "androidx-compose" }
# Androidx Jetpack Glance
androidx-glance = { group = "androidx.glance", name = "glance", version.ref = "androidx-glance" }
androidx-glance-appwidget = { group = "androidx.glance", name = "glance-appwidget", version.ref = "androidx-glance" }
# Firebase
firebase-analytics-ktx = { group = "com.google.firebase", name = "firebase-analytics-ktx", version.ref = "firebase-analytics" }
firebase-crashlytics-ktx = { group = "com.google.firebase", name = "firebase-crashlytics-ktx", version.ref = "firebase-crashlytics" }
firebase-database-ktx = { group = "com.google.firebase", name = "firebase-database-ktx", version.ref = "firebase-database" }
firebase-config-ktx = { group = "com.google.firebase", name = "firebase-config-ktx", version.ref = "firebase-config" }
# Junit
jsoup = { group = "org.jsoup", name = "jsoup", version.ref = "jsoup" }
# Koin
koin-core = { group = "io.insert-koin", name = "koin-core", version.ref = "koin" }
koin-android = { group = "io.insert-koin", name = "koin-android", version.ref = "koin" }
koin-androidx-compose = { group = "io.insert-koin", name = "koin-androidx-compose", version.ref = "koin-androidx-compose" }
koin-annotations = { group = "io.insert-koin", name = "koin-annotations", version.ref = "koin-annotations" }
koin-ksp-compiler = { group = "io.insert-koin", name = "koin-ksp-compiler", version.ref = "koin-annotations" }
# Compose destinations
compose-destinations-core = { group = "io.github.raamcosta.compose-destinations", name = "core", version.ref = "compose-destinations" }
compose-destinations-ksp = { group = "io.github.raamcosta.compose-destinations", name = "ksp", version.ref = "compose-destinations" }
# Jetpack Preferences DataStore
androidx-datastore-preferences = { group = "androidx.datastore", name = "datastore-preferences", version.ref = "datastore" }
# Datetime pickers
compose-material3-datetime-pickers = { module = "com.marosseleng.android:compose-material3-datetime-pickers", version.ref = "compose-material3-datetime-pickers" }
# Semantic versioning
semver = { module = "io.github.z4kn4fein:semver", version.ref = "semver" }

[bundles]
androidx-jetpack-compose = [
    "androidx-compose-ui",
    "androidx-compose-ui-tooling",
    "androidx-compose-ui-tooling-preview",
    "androidx-compose-foundation-layout",
    "androidx-activity-compose",
    "androidx-compose-material3",
    "androidx-compose-material-icons-extended",
    "androidx-lifecycle-runtime-compose",
    "androidx-lifecycle-viewmodel-compose",
]
androidx-navigation = [
    #    "androidx-navigation-ui-ktx",
    "androidx-navigation-compose",
]
androidx-jetpack-glance = [
    "androidx-glance",
    "androidx-glance-appwidget",
]
koin = [
    "koin-core",
    "koin-annotations",
    "koin-android",
    "koin-androidx-compose",
]

[plugins]
android-application = { id = "com.android.application", version.ref = "android-gradle-plugin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
gms-google-services = { id = "com.google.gms.google-services", version.ref = "gms-google-services" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
firebase-crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "firebase-crashlytics-gradle" }